*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F2F2F3;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}
.container{
    margin: auto;
    text-align: center;
    position: absolute;
    width: 100%;
}
.content{
    margin-top: 80px;
    width: 100%;
}
nav a{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    padding: 10px 5px;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 188px;
    border-radius: 4px;
}
nav a.active{
    background-color: #fff;
    color: green; 
    box-shadow: 0px 3px 1px rgba(20, 40, 82, 0.08), 0px 24px 24px rgba(20, 40, 82, 0.04);
}
.contents{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.horizontal_line{
    width: 100%; 
    height: 1px; 
    background-color: #E5E5E6; 
    margin-top: 20px;
    
}
.vertical_line{
    height: 100vh;
    width: 1px;
    background-color: rgb(229, 229, 230);
    margin-top: 64px;
}
table{
    width: 100%;
    margin-top: 20px;
    border-spacing: 0;
}


td{
    text-align: left;
    padding: 10px 0px 10px 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #3E3F48;
}
.arrow_button{
    border: none;
    outline: 0;
    color: #88898E;
}
.construction{
    margin-top: 30vh;
    color: orange;
    font-size: 40px;
    animation: spin 2s infinite;
}
@keyframes spin{
    0%{transform: rotate(0deg); color: orangered;}
    100%{transform: rotate(360deg); color: orange}
}
@media (max-width: 800px ){
    .menu-text{
        display: none;
    }
    nav a{
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        padding: 10px;
        width: 41px;
        height: 40px;
    }
}
@media (max-width: 400px ){
    .content{
        margin: 80px 0px 0px;
    }
    .content h2{
        margin-left: 20px;
    }
    .vertical_line{
        display: none;
    }
}